.button {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    border: 0.1rem solid black;
    font-size: 0.85rem;
    width: fit-content;
    &.not-bordered {
        border: none;
    }
    &:hover {
        filter: brightness(90%);
        cursor: pointer;
    }
    &:active {
        scale: 0.95;
    }
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
    &:hover {
        cursor: not-allowed;
        filter: none;
        scale: none;
    }
}
