$breakpoint-lg: 992px;

.navbar {
    background-color: black;

    .nav-item {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        &:active {
            scale: 0.9;
        }
    }
    .navbar-toggler {
        color: white;
    }
}
.navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    &:hover {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.sample-text {
    font-size: 0.8rem;
}

@media (width>=$breakpoint-lg) {
    .contacts {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
