@mixin flexbox($justify: center, $align: center, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}
.mainLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .content {
        flex: 1;
        @include flexbox();
    }
}
