.text-decoration-underline-hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    transition:
        text-underline-offset 0.2s ease,
        scale 0.1s ease;
}
.text-decoration-underline-hover:hover {
    text-underline-offset: 0.3em;
    color: rgb(177, 177, 177) !important;
}
.text-decoration-underline-hover:active {
    scale: 0.9 !important;
}
