.card {
    width: 20%;
    height: 70vh !important;
    background-color: rgb(88, 70, 45);
    @media (max-width: 992px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 68vh !important;
    }
    @media (max-width: 576px) {
        width: 80%;
        height: 68vh !important;
    }
}
.wide-card {
    width: 30%;
    height: 70vh !important;
    background-color: rgb(88, 70, 45);
    @media (max-width: 992px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 68vh !important;
    }
    @media (max-width: 576px) {
        width: 80%;
        height: 68vh !important;
    }
}
.image-container {
    height: 65%;
}
.text-container {
    height: 35%;
}
