.card {
    width: 20%;
    height: 70vh !important;
    background-color: rgb(88, 70, 45);
    @media (max-width: 1200px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 68vh !important;
    }
    @media (max-width: 600px) {
        width: 95%;
        height: 68vh !important;
    }
}
.wide-card {
    width: 30%;
    height: 70vh !important;
    background-color: rgb(88, 70, 45);
    @media (max-width: 1200px) {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 68vh !important;
    }
    @media (max-width: 600px) {
        width: 95%;
        height: 68vh !important;
    }
}
.image-container {
    height: 65%;
}
.text-container {
    height: 35%;
}

.title {
    height: 12%;
}
.text {
    height: 32%;
}

.admin {
    &:hover {
        scale: 1.15;
        cursor: pointer;
    }
    &:active {
        scale: 0.9;
    }
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    pointer-events: "none";
}
.editingCard {
    position: relative;
    z-index: 999 !important;
}
